:root {
    --bg-color: #fff;
    --text-color: #000;
    --link-color: green;
    --link-hover-color: darkgreen;
    --hr-color: #ccc;
}

html {
    font-size: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    max-width: 80rem;
    margin: 5rem auto;
    padding: 1rem;
}

h1 {
    text-align: center;
}

p {
    text-indent: 3.2rem;
    font-size: 1.6rem;
}

.profile {
    text-align: center;
    margin-bottom: 2rem;
}

.profile img {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    cursor: pointer;
    transition: transform 1s ease-out;
}

.profile a:hover img {
    animation: rotate 8s linear infinite;
}

.profile h2 {
    margin: 0.5rem 0;
    font-size: 2.4rem;
}

.profile p {
    font-size: 1.6rem;
}

.details {
    margin-top: 1rem;
}

.details h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.details ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.details li {
    width: fit-content;
    margin: 0.5rem 0;
    padding-left: 0.5rem;
    font-size: 1.6rem;
}

#email-link {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

footer {
    text-align: center;
    margin-top: 1.6rem;
    font-size: 1.6rem;
}

.underline-effect {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--link-color);
}

.underline-effect::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.2rem;
    width: 0;
    height: 0.2rem;
    background-color: var(--link-hover-color);
    transition: width 0.3s ease-in-out;
}

.underline-effect:hover::after {
    width: 100%;
}

hr {
    border: none;
    border-top: 0.1rem solid var(--hr-color);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(36000deg);
    }
}

@media (max-width: 60rem) {
    .container {
        margin: 2rem;
        padding: 1.5rem;
    }

    .profile img {
        width: 12rem;
        height: 12rem;
    }

    h1 {
        font-size: 2.4rem;
    }

    .profile h2 {
        font-size: 2.4rem;
    }

    .profile p {
        font-size: 1.6rem;
    }

    .details h3 {
        font-size: 2.08rem;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121212;
        --text-color: #e0e0e0;
        --link-color: #90caf9;
        --link-hover-color: #42a5f5;
        --hr-color: #555;
    }
}