@import './keyframes.css';

:root {
    --dark-bg: #121212;
    --dark-secondary: #2A2A2A;
    --light: #E0E0E0;
    --accent: #99aebb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}


*::-webkit-scrollbar {
    width: 0 !important
}